repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff check
        entry: uv run ruff check
        language: system
        types: [python]

      - id: ty
        name: ty check
        entry: uv run ty check
        language: system
        types: [python]
        # pass_filenames: false

      - id: gitleaks
        name: gitleaks
        entry: gitleaks git --staged --no-banner
        language: system
        pass_filenames: false
